#weatherIcon {
    width: 60%;
    height: auto;
    align-self: center;
    animation-name: throb;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }

@keyframes throb {
  from {width: 60%;}
  to {width: 75%;}
}