.navLink {
    display: flex;
    align-items: center;
    height: 4rem;
    color: white;
    text-decoration: none;
    transition: 600ms;
}

.navLink:hover {
    filter: grayscale(0%) opacity(1);
    color: #023047;
}

.linkText {
    margin-left: 1rem;
    font-size: 16px;
}

.visibleText {
    display: inline;
}

.invisibleText {
    display: none;
}

.navLink .icon {
    min-width: 2rem;
}

@media only screen and (max-width: 600px) { 
    .navLink {
        justify-content: center;
    }

    .navLink .icon {
        margin: 0 1rem;
    }
}

@media only screen and (min-width: 600px) { 
    .navLink .icon {
        margin: 0 1.5rem;
    }
}